#

# Phase 1
> 2022-2024; NA Listed Firms;

## Imports

In [1]:
import pandas as pd
import numpy as np

## Load Emissions Data

In [26]:
""" Read in the CSV """
raw_emissions_df = pd.read_csv(
    "phase1_emissions.csv", 
    dtype={"companyid": "str", "gvkey": "str"} #identifiers are read in
)

raw_emissions_df

,institutionid,fiscalyear,periodenddate,di_319413,di_319414,di_319415,companyid,gvkey,companyname,country
0,11489,2022,2022-12-31,1859.947024,5704.373536,78880.089343,6520204,NaN,Factory Mutual Insurance Company,United States
1,11489,2022,2022-12-31,1859.947024,5704.373536,78880.089343,24951392,NaN,"Factory Mutual Insurance Company, Asset Manage...",United States
2,11489,2022,2022-12-31,1859.947024,5704.373536,78880.089343,43964734,NaN,"Allendale Mutual Insurance Co, Asset Managemen...",United States
3,11489,2023,2023-12-31,4154.828402,12742.671094,176205.682880,6520204,NaN,Factory Mutual Insurance Company,United States
4,11489,2023,2023-12-31,4154.828402,12742.671094,176205.682880,24951392,NaN,"Factory Mutual Insurance Company, Asset Manage...",United States
...,...,...,...,...,...,...,...,...,...,...
1803283,118526590,2022,2022-12-31,485.540053,1085.798816,1022.548683,111952300,NaN,Coseva Soc Coop,Italy
1803284,118706040,2022,2022-12-31,205.995561,658.395477,1709.587413,1886594015,NaN,Solà Domingo S.A.,Spain
1803285,118918440,2022,2022-07-31,40.124678,26.875831,83.556928,1887792515,NaN,"Nihonsangyo Co.,Ltd.",Japan
1803286,118991426,2022,2022-12-31,59.719416,216.809138,129.375410,1888091056,NaN,CP Management Spólka Z Ograniczona Odpowiedzia...,Poland
1803287,119000305,2022,2022-09-30,37.362266,15.134484,129.019299,1888211203,NaN,Aramis Group,France

In [28]:
""" Utility functions regarding validity, uniqueness, and writing out 
unique and valid ids. """

def keep_valid(data, colname=None):
    """ Only keeps the rows/items from the given dataframe/array-like which 
    have valid values - for the specified column in the case of a dataframe.

    Args:
        data: Dataframe or array-like.
        colname: Name of the dataframe column whose valid values we are using to 
            filter.

    Returns:
        The dataframe/array-like with rows/items that have invalid values, w.r.t 
        the specified column if applicable, filtered out.
    """

    # Array whose values we are interested in
    col = data[colname] if colname is not None else data
    # Values are considered valid as long as they are not NaN
    return data[pd.notnull(col)]


def extract_unique(df, colname):
    """ Extract the unique and non-NaN values from a dataframe column.
    
    Args:
        df: Dataframe.
        colname: Column name w.r.t the dataframe.

    Returns:
        Unique and non-NaN column values.
    """

    return keep_valid(pd.unique(df[colname]))


def write_ids(df, idname, filename):
    """ Writes the unique, non-NaN instances of the indicated identifier, within the 
    indicated dataframe, on separate lines of a new file, whose filename should 
    be specified.

    Args:
        df: Dataframe.
        idname: Column name of the identifier with respect to the dataframe.
        filename: The name to use for the newly created file.
    """
    with open(filename, "w") as fh:
        for idval in extract_unique(df, idname):
            fh.write(f"{idval}\n")

In [29]:
""" Export CIQ company ids """
write_ids(raw_emissions_df, "companyid", "companyids.txt")

In [40]:
""" Quality control """
print(f"Prior number of rows {len(raw_emissions_df)}")
emissions_df = raw_emissions_df[~np.isnan(raw_emissions_df["gvkey"])]
emissions_df = emissions_df.drop(columns=["di_326737", "di_367750"])
emissions_df = emissions_df.dropna()
print(f"Subsequent number of rows {len(emissions_df)}")

Prior number of rows 1803288
Subsequent number of rows 33997

In [32]:
emissions_df

,institutionid,fiscalyear,periodenddate,di_319413,di_319414,di_319415,di_326737,di_367750,gvkey,companyname,country
26,13959,2022,2022-12-31,18853.165084,72589.700681,1.323541e+06,NaN,NaN,122594.0,State Farm Mutual Automobile Insurance Company,United States
29,13959,2023,2023-12-31,23250.617734,89521.063147,1.632254e+06,NaN,NaN,122594.0,State Farm Mutual Automobile Insurance Company,United States
32,14193,2022,2022-12-31,16736.521444,51330.155513,7.097935e+05,NaN,NaN,122554.0,United Services Automobile Association,United States
33,14193,2023,2023-12-31,19585.900250,60069.071644,8.306352e+05,NaN,NaN,122554.0,United Services Automobile Association,United States
34,14432,2022,2022-12-31,1027.993067,3152.808316,4.359704e+04,NaN,NaN,63734.0,Voya Retirement Insurance and Annuity Company,United States
...,...,...,...,...,...,...,...,...,...,...,...
1796814,112329550,2022,2022-10-31,489.910950,1022.660743,6.379460e+03,NaN,NaN,361808.0,Kawan Renergy Berhad,Malaysia
1803250,113511623,2022,2022-12-31,291.908186,183.331947,5.197957e+02,NaN,NaN,358709.0,ELSA Solutions S.p.A.,Italy
1803251,113511665,2022,2022-09-30,12.539324,0.790235,6.400957e+00,NaN,NaN,358653.0,"SEIYU KOGYO Co.,Ltd.",Japan
1803259,114230580,2022,2022-03-31,2.811856,0.177205,1.435370e+00,NaN,NaN,359029.0,KET Inc.,Japan
1803269,114764179,2022,2022-12-31,1641.238617,1117.543920,4.313828e+04,NaN,NaN,362169.0,Chaosua Foods Industry Public Company Limited,Thailand

In [19]:
df.groupby(["gvkey", "fiscalyear"]).size().index

MultiIndex([(  1004.0, 2022),
            (  1045.0, 2022),
            (  1045.0, 2023),
            (  1050.0, 2022),
            (  1050.0, 2023),
            (  1075.0, 2022),
            (  1076.0, 2022),
            (  1078.0, 2022),
            (  1078.0, 2023),
            (  1096.0, 2022),
            ...
            (362534.0, 2022),
            (362534.0, 2023),
            (362619.0, 2022),
            (362620.0, 2022),
            (362620.0, 2023),
            (362683.0, 2022),
            (362705.0, 2022),
            (362758.0, 2022),
            (362761.0, 2022),
            (362761.0, 2023)],
           names=['gvkey', 'fiscalyear'], length=33895)

## Load Market Data

In [23]:
market_df = pd.read_csv("phase1_market.csv")

market_df

    gvkeyx      prccm    datadate                   conm       tic
0   150918  3379.0814  2022-01-31  S&P Global 1200 Index  I6UNK112
1   150918  3283.8722  2022-02-28  S&P Global 1200 Index  I6UNK112
2   150918  3361.5970  2022-03-31  S&P Global 1200 Index  I6UNK112
3   150918  3089.8620  2022-04-30  S&P Global 1200 Index  I6UNK112
4   150918  3097.8104  2022-05-31  S&P Global 1200 Index  I6UNK112
5   150918  2827.3566  2022-06-30  S&P Global 1200 Index  I6UNK112
6   150918  3032.1650  2022-07-31  S&P Global 1200 Index  I6UNK112
7   150918  2899.3630  2022-08-31  S&P Global 1200 Index  I6UNK112
8   150918  2619.9194  2022-09-30  S&P Global 1200 Index  I6UNK112
9   150918  2795.4613  2022-10-31  S&P Global 1200 Index  I6UNK112
10  150918  3013.7394  2022-11-30  S&P Global 1200 Index  I6UNK112
11  150918  2884.2670  2022-12-31  S&P Global 1200 Index  I6UNK112
12  150918  3088.2859  2023-01-31  S&P Global 1200 Index  I6UNK112
13  150918  2995.8189  2023-02-28  S&P Global 1200 Index  I6UNK112
14  150918  3088.2782  2023-03-31  S&P Global 1200 Index  I6UNK112
15  150918  3134.8567  2023-04-30  S&P Global 1200 Index  I6UNK112
16  150918  3097.9991  2023-05-31  S&P Global 1200 Index  I6UNK112
17  150918  3276.8291  2023-06-30  S&P Global 1200 Index  I6UNK112
18  150918  3378.5041  2023-07-31  S&P Global 1200 Index  I6UNK112
19  150918  3289.0455  2023-08-31  S&P Global 1200 Index  I6UNK112
20  150918  3140.6990  2023-09-30  S&P Global 1200 Index  I6UNK112
21  150918  3053.7258  2023-10-31  S&P Global 1200 Index  I6UNK112
22  150918  3326.5003  2023-11-30  S&P Global 1200 Index  I6UNK112
23  150918  3480.6516  2023-12-31  S&P Global 1200 Index  I6UNK112
24  150918  3509.7668  2024-01-31  S&P Global 1200 Index  I6UNK112
25  150918  3659.4710  2024-02-29  S&P Global 1200 Index  I6UNK112
26  150918  3774.8709  2024-03-31  S&P Global 1200 Index  I6UNK112
27  150918  3636.9339  2024-04-30  S&P Global 1200 Index  I6UNK112
28  150918  3792.7481  2024-05-31  S&P Global 1200 Index  I6UNK112
29  150918  3871.9183  2024-06-30  S&P Global 1200 Index  I6UNK112
30  150918  3932.9057  2024-07-31  S&P Global 1200 Index  I6UNK112

## Missing data checks to prepare for imputation

In [ ]:
""" Missing Data Checks """

In [4]:
""" Number of unique companies across all the years """
np.unique(df["gvkey"]).size # roughly 30k

31511

In [10]:
""" Now determine the number of unique companies in the 
different years
"""
print(f"All years: {np.unique(df['fiscalyear'])}")

for year in np.unique(df['fiscalyear']):
    print(f"{year} => {np.unique(df[df['fiscalyear'] == year]['gvkey']).size}")

All years: [2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2021 2022 2023]
2002 => 1763
2003 => 2000
2004 => 2885
2005 => 3880
2006 => 4170
2007 => 4307
2008 => 4269
2009 => 4563
2010 => 4723
2011 => 4833
2012 => 4868
2013 => 5757
2014 => 6154
2015 => 6235
2016 => 13882
2017 => 14786
2018 => 16979
2019 => 17378
2020 => 23353
2021 => 23386
2022 => 24053
2023 => 9725

In [ ]:
# print(df[])

## Write out all the unique gvkeys

## Read in the daily security prices csv

In [16]:
returns_df = pd.read_csv("daily.csv")

/var/folders/y5/ty9zs0px6gbg3f5k7p4jqh4m0000gn/T/ipykernel_80834/789980338.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  returns_df = pd.read_csv("daily.csv")

In [17]:
returns_df

,gvkey,iid,datadate,conm,trfd,isin,county,sic
0,1166,01W,2002-01-02,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
1,1166,01W,2002-01-03,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
2,1166,01W,2002-01-04,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
3,1166,01W,2002-01-07,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
4,1166,01W,2002-01-08,ASM INTERNATIONAL NV,1.000000,NL0000334118,NaN,3559.0
...,...,...,...,...,...,...,...,...
113958618,362779,01W,2024-08-06,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958619,362779,01W,2024-08-07,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958620,362779,01W,2024-08-08,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958621,362779,01W,2024-08-09,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN
113958622,362779,01W,2024-08-12,NOVAMARINE SPA,1.145429,IT0005605701,NaN,NaN

## Check the intersect between the gvkeys of the carbon emissions dataset and the daily prices dataset

In [31]:
# unique non-nan in environment
env_gvkeys = np.unique(df[~np.isnan(df["gvkey"])]["gvkey"])

print(env_gvkeys.size)

31510

In [32]:
# unique non-nan in returns
returns_gvkeys = np.unique(returns_df[~np.isnan(returns_df["gvkey"])]["gvkey"])

print(returns_gvkeys.size)

24110

In [33]:
env_ret_common_gvkeys = np.intersect1d(
    env_gvkeys, 
    returns_gvkeys, 
    assume_unique=True
)

print(env_ret_common_gvkeys.size)

24110

In [34]:
""" Check the missing gvkeys to see what country they are from """
missing_gvkeys = np.setdiff1d(env_gvkeys, env_ret_common_gvkeys, assume_unique=True)

print(missing_gvkeys.size)

7400

In [77]:
""" Create representatives and break down their distribution """
df_missing_reprs_idx = [(df["gvkey"] == gvkey).idxmax() for gvkey in missing_gvkeys]
missing_dist = df.iloc[df_missing_reprs_idx][["gvkey", "country"]].groupby(
    "country"
).count().reset_index().sort_values('gvkey', ascending=False)

In [78]:
missing_dist

             country  gvkey
79     United States   5220
10            Canada    803
78    United Kingdom    271
13             China    113
24            France    111
..               ...    ...
58              Peru      1
57            Panama      1
56          Pakistan      1
48  Marshall Islands      1
41            Kuwait      1

[83 rows x 2 columns]

In [79]:
missing_dist[missing_dist["country"] != "United States"]["gvkey"].sum()

2180

## Checks on Duplicates

In [15]:
company_dups = df[df.duplicated('gvkey', keep=False) == True].sort_values(by="gvkey")

In [26]:
last_iid = None
last_fyears = set()
for i, row in company_dups.iterrows():
    current_iid = row["institutionid"]
    current_fyear = row["fiscalyear"]
    if last_iid is not None and current_iid == last_iid:
        if current_fyear in last_fyears:
            raise Exception(f"Fyear clash!, iid: {current_iid}, prev_fyears: {last_fyears}, clash: {current_fyear}")
        else:
            last_fyears.add(current_fyear)
    else:
        last_iid = current_iid
        last_fyears.clear()
        last_fyears.add(current_fyear)

print("No issues...")

Exception: Fyear clash!, iid: 4415462, prev_fyears: {2022}, clash: 2022

In [31]:
company_dups.head(20)

,periodid,institutionid,reportedcurrencyisocode,tcprimarysectorid,fiscalyear,periodenddate,di_319380,di_319381,di_319382,di_319383,...,streetaddress3,streetaddress4,zipcode,yearfounded,monthfounded,dayfounded,officephonevalue,otherphonevalue,officefaxvalue,webpage
5,30D218CF-2E2A-46B4-AF72-CADF593290E8,4074603,USD,713A00,2022,01/01/2023,0.285,0.021,2.079,0.153,...,NaN,NaN,76011,1961.0,NaN,NaN,972 595 5000,NaN,NaN,www.sixflags.com
2503,1989BCA5-218F-4857-A3CE-1F2114D67F8E,4074603,USD,713A00,2023,31/12/2023,0.302,0.021,2.098,0.147,...,NaN,NaN,76011,1961.0,NaN,NaN,972 595 5000,NaN,NaN,www.sixflags.com
4988,5B249039-D1E2-43D2-825B-DDD233FE2FE0,4996548,USD,561300,2023,31/12/2023,0.015,0.005,0.125,0.040,...,NaN,NaN,75024,2007.0,NaN,NaN,972 692 2400,NaN,NaN,bgsf.com
40,5F205052-5493-41C8-9C8C-1E0FE1FC5DC0,4996548,USD,561300,2022,01/01/2023,0.014,0.005,0.122,0.041,...,NaN,NaN,75024,2007.0,NaN,NaN,972 692 2400,NaN,NaN,bgsf.com
1,01C53196-7DD9-42C7-9D3B-F152BFB3A364,4054841,USD,445000A,2022,01/01/2023,3.061,0.003,186.279,0.203,...,NaN,NaN,1506 MA,1867.0,NaN,NaN,31 88 659 9111,NaN,NaN,www.aholddelhaize.com
2462,793C84DE-3E9D-4CE0-8768-647BA85F9272,4054841,USD,445000A,2023,31/12/2023,3.183,0.003,181.084,0.189,...,NaN,NaN,1506 MA,1867.0,NaN,NaN,31 88 659 9111,NaN,NaN,www.aholddelhaize.com
110,A706AF20-7252-4C95-AA58-2481363942C5,10175068,USD,722000,2022,02/01/2023,0.095,0.053,0.696,0.389,...,NaN,NaN,33309,2011.0,NaN,NaN,954-618-2000,NaN,NaN,www.burgerfi.com
6071,96731D0E-B576-41E4-8386-DAD27811DF60,10175068,USD,722000,2023,01/01/2024,0.092,0.054,0.625,0.368,...,NaN,NaN,33309,2011.0,NaN,NaN,954-618-2000,NaN,NaN,www.burgerfi.com
99,0446986D-7007-4B72-AA5B-49AA5ADB4CF2,28295169,USD,541512,2022,01/01/2023,0.042,0.020,0.362,0.170,...,NaN,NaN,55425,2016.0,NaN,NaN,952 851 5200,NaN,NaN,www.skywatertechnology.com
6011,9AABC54A-2E82-4C6A-99E2-489EF08AE342,28295169,USD,541512,2023,31/12/2023,0.051,0.018,0.420,0.147,...,NaN,NaN,55425,2016.0,NaN,NaN,952 851 5200,NaN,NaN,www.skywatertechnology.com
35,7E60EE90-E9E7-4FED-83DF-2E7A02A6AABB,4963509,USD,541400,2022,01/01/2023,0.001,0.006,0.061,0.380,...,NaN,NaN,95131,1988.0,NaN,NaN,408 990 4000,NaN,NaN,www.quicklogic.com
4018,E0A9FA48-1F83-4B6B-90D8-B0AB05C741BA,4963509,USD,541400,2023,31/12/2023,0.001,0.007,0.080,0.377,...,NaN,NaN,95131,1988.0,NaN,NaN,408 990 4000,NaN,NaN,www.quicklogic.com
108,E3F16746-4804-459A-A330-D7BB3B1F904C,4963656,USD,334412,2022,02/01/2023,0.648,0.026,9.352,0.375,...,NaN,NaN,92707,1978.0,NaN,NaN,714 327 3000,NaN,NaN,www.ttm.com
6070,BA0F2FA0-CF61-4B3C-8459-B63953137484,4963656,USD,334412,2023,01/01/2024,0.586,0.026,8.356,0.374,...,NaN,NaN,92707,1978.0,NaN,NaN,714 327 3000,NaN,NaN,www.ttm.com
2491,94EFB58E-C08F-4202-A413-6CC9CE976B02,4067211,USD,453000,2023,31/12/2023,0.082,0.009,1.364,0.154,...,NaN,NaN,90245,1955.0,NaN,NaN,310 536 0611,NaN,NaN,www.big5sportinggoods.com
4,E03D4FA9-18C8-45C6-BAB0-410240032356,4067211,USD,453000,2022,01/01/2023,0.094,0.009,1.590,0.160,...,NaN,NaN,90245,1955.0,NaN,NaN,310 536 0611,NaN,NaN,www.big5sportinggoods.com
6058,BF30EA66-E29F-46AE-8B2F-2DAFD9B5E5B1,100416430,USD,722000,2023,31/12/2023,0.064,0.027,0.911,0.384,...,NaN,NaN,BN99 3HH,2021.0,NaN,NaN,44 330 460 5588,NaN,NaN,www.hostmoregroup.com
105,E1BEAC00-E920-4299-8A9F-CA380095FFFF,100416430,USD,722000,2022,01/01/2023,0.067,0.028,0.994,0.411,...,NaN,NaN,BN99 3HH,2021.0,NaN,NaN,44 330 460 5588,NaN,NaN,www.hostmoregroup.com
2,01C53196-7DD9-42C7-9D3B-F152BFB3A364,4054841,USD,445000A,2022,01/01/2023,3.061,0.003,186.279,0.203,...,NaN,NaN,NL-1507,NaN,NaN,NaN,31-75-65-99-111,NaN,NaN,www.ahold.com
10,69C36A10-8B26-4EC8-99C9-55D0F48324DA,4094026,USD,325413,2022,01/01/2023,0.705,0.022,5.871,0.180,...,NaN,NaN,92121,NaN,NaN,NaN,858-552-1100,NaN,NaN,NaN

In [32]:
company_dups[company_dups["institutionid"] == 4415462]

,periodid,institutionid,reportedcurrencyisocode,tcprimarysectorid,fiscalyear,periodenddate,di_319380,di_319381,di_319382,di_319383,...,streetaddress3,streetaddress4,zipcode,yearfounded,monthfounded,dayfounded,officephonevalue,otherphonevalue,officefaxvalue,webpage
23,5282F3CE-9CFA-4830-9116-3B36EFDE5089,4415462,USD,52A000,2022,01/01/2023,0.001,0.001,0.054,0.037,...,NaN,NaN,050059,1993.0,NaN,NaN,7 727 244 5484,NaN,7 727 244 5480,www.homecredit.kz
24,5282F3CE-9CFA-4830-9116-3B36EFDE5089,4415462,USD,52A000,2022,01/01/2023,0.001,0.001,0.054,0.037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

array(['United States', 'Netherlands', 'United Kingdom', 'Canada',
       'Kazakhstan', 'Belarus', 'Australia', 'Belgium', 'Austria',
       'Finland', 'Ireland', nan, 'Singapore', 'France', 'Denmark',
       'Japan', 'Israel', 'Italy', 'South Africa', 'Thailand', 'Germany',
       'China', 'Hong Kong', 'Luxembourg', 'India', 'Switzerland',
       'Malaysia', 'South Korea', 'Kenya', 'New Zealand', 'Spain',
       'Pakistan', 'Saudi Arabia', 'Sweden', 'British Virgin Islands',
       'Kuwait', 'Turkey', 'Philippines', 'Mauritius', 'Bangladesh',
       'Cayman Islands', 'Botswana', 'Egypt', 'Malta', 'Malawi',
       'Jamaica', 'Bermuda', 'Colombia', 'Mexico', 'Norway', 'Brazil',
       'Bahrain', 'Morocco', 'Indonesia', 'Romania', 'Russia',
       'Ivory Coast', 'Tunisia', 'Greece', 'Vietnam', 'Taiwan', 'Nigeria',
       'Oman', 'Qatar', 'Portugal', 'United Arab Emirates', 'Jersey',
       'Poland', 'Bulgaria', 'Chile', 'Reunion', 'Ghana', 'Monaco',
       'Bahamas', 'Guernsey'], dtype=object)